<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vipul.arsenal" >

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/arsenallogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PlayersListingactivity"
            android:label="@string/app_name"
            android:icon="@drawable/arsenallogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ArsenalInfoActivity"
            android:label="Club Information"
            android:icon="@drawable/arsenallogo">
        </activity>
        <activity
            android:name=".PlayerDetailActivity"
            android:label="Information"
            android:icon="@drawable/arsenallogo">
        </activity>
    </application>

</manifest>
